/*
Sass::SyntaxError: ".proof-photo .actions-nav" failed to @extend ".text--center".
The selector ".text--center" was not found.
Use "@extend .text--center !optional" if the extend should be able to fail.


Backtrace:
scss/public.scss:76
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/extend.rb:65:in `block in check_extends_fired!'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/util/subset_map.rb:106:in `block in each_value'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/util/subset_map.rb:106:in `each'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/util/subset_map.rb:106:in `each_value'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/extend.rb:50:in `check_extends_fired!'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/tree/visitors/extend.rb:16:in `visit'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:39:in `css_tree'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:364:in `_render_with_sourcemap'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/engine.rb:292:in `render_with_sourcemap'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:345:in `update_stylesheet'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:191:in `block in update_stylesheets'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:188:in `each'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:188:in `update_stylesheets'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.3.0.rc.2/lib/sass/plugin/compiler.rb:276:in `block in watch'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `call'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:236:in `on_change'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/listener.rb:271:in `block in initialize_adapter'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `call'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:244:in `report_changes'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:313:in `poll_changed_directories'
/Users/cristianfrumusanu/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/listen-1.1.6/lib/listen/adapter.rb:289:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: \".proof-photo .actions-nav\" failed to @extend \".text--center\".\A The selector \".text--center\" was not found.\A Use \"@extend .text--center !optional\" if the extend should be able to fail.\A "; }
