@charset "UTF-8";
@import "compass";

/*------------------------------------*\ 
    $SETUP
\*------------------------------------*/
@import "vars";
@import "inuit.css/inuit";

.proof-photo{
	padding: $_u2;
    padding-bottom: 0;
    @include transition (all .3s linear);

	&:hover{
		background: black;

		.proof-photo__id{
			color: white;
		}
	}
}

.proof-photo__id{
	display: block;
	padding: $_u2 0;

	text-align: center;
}

.mosaic__item {

    // border:$_u4 solid transparent;
    // float:left;

    &:hover{
        .mosaic__meta{
            @include opacity(1);
            background: rgba(0, 0, 0, 0.5);
        }
        .separator {
            max-width:80%;
            margin-top:$_u;
            margin-bottom:$_u;
        }
    }    

    .mosaic__item-container {
        position: relative;
        display: block;
        overflow: hidden;
        padding: 0; 
        color: white;
    }
}

    .mosaic__image {
        position: relative;
        padding-top: 100%;

        &.no-image{
            padding-top: 100%;
            background: #000000;
        }

        &.no-image + .mosaic__meta{
            @include opacity(1);
        }

        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .mosaic__meta {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        // z-index: 1;

        @include opacity(0);
        @include transition(all 0.2s);

        .flexbox {
            height:100%;
        }

        .separator {
            max-width: 0;
            margin: 0 auto;
            @include transition(all 0.1s linear)
        }
    }

    // Container used for direction-aware hover
    .mosaic__hoverdir {
        position: absolute;
        height: 100%;
        width: 100%;
    }

        .meta__action {
            margin:0;
            line-height:1.1;
            color: white;
            text-decoration: none !important;
            text-transform: uppercase;
        }

.separator{
    background: white;
}

/*
 * Responsiveness
 */

// @media screen and (max-width: 899px) {
//     .mosaic__item  {
//         width: 50%;
//     }
// }

// @media screen and (min-width: 900px) and (max-width: 1249px) {
//     .mosaic__item  {
//         width: 33.33333%;
//     }
// }

// @media screen and (min-width: 1250px) and (max-width: 1700px) {
//     .mosaic__item  {
//         width: 25%;
//     }
// }

// @media screen and (min-width: 1701px) {
//     .mosaic__item  {
//         width: 20%;         
//     }
// }
