@charset "UTF-8";
@import "compass";

/*------------------------------------*\ 
    $SETUP
\*------------------------------------*/
@import "vars";


.pixproof-data{
	position: relative;

	margin-bottom: $_u;
}

	.meta-box__title{
		display: block;
		font-weight: bold;
	}

	@media screen and (min-width: 899px){
		.button-download{
			position: absolute;
			right: 0;
		}
	}



.proof-photo{
    padding-bottom: 0;
    @include transition (all .3s cubic-bezier(0.86, 0, 0.07, 1));

	&:hover{
		background: #EEE9E9;

	    .proof-photo__meta{
	        @include opacity(1);
	        background: rgba(0, 0, 0, 0.5);
	    }

	    .separator {
	        max-width:80%;
	        margin-top:$_u2;
	        margin-bottom:$_u2;
	    }		
	}

	&.selected:before{
		content: "\2713";
		
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;

		width: 2em;
		height: 2em;

		font-size: 0.8em;
		line-height: 2em;
		text-align: center;

		background: black;
		color: white;
	}

	&.scrooled_from_comments{
		@include scale(1.2);
		z-index: 50;
	}

	a{
		color: white;
	}

	.actions-nav{
		text-align: center;
		margin: $_u2 0;
		padding: 0;
	}
}

	.proof-photo__container{
		position: relative;		
	}

	.proof-photo__meta{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		@include opacity(0);
		@include transition(all .2s linear);

		.flexbox{
			height: 100%;
		}

        .separator {
            max-width: 0;
            margin: 0 auto;

			background: white;

            @include transition(all 0.1s linear);
        }		
	}

.proof-photo__id{
	display: block;
	padding: $_u2 0;

	text-align: center;
}

.meta__action {
	margin: 0;
	color: black;
	text-decoration: none !important;
	text-transform: uppercase;
	text-align: center;
}

.meta__action--popup{
	color: white;
}


.mfp-arrow{
	position: absolute;
	top: 50%;

	display: block;

	outline: none;
	@include transform(translateY(-50%));

	&:hover, &:active, &:focus{
		background-color: transparent;
	}

	&:before, &:after{
		font-size: 7em;
	}
}

.mfp-close{
	outline: none;
	padding: 0 $_u;

	&:hover, &:active, &:focus{
		background-color: transparent;
	}	
}

.mfp-arrow-left{
	left: 2%;

	&:before{
		content: '\2329';
		padding-right: 24px;
	}
}


.mfp-arrow-right{
	right: 2%;

	&:after{
		content: '\232A';
		padding-left: 24px;
	}
}

.mfp-counter{
	font-size: 1em;
	color: white;
}


.separator--data{
	background: transparent;
	border-bottom: 2px dashed black;
}